.div-cart {
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
}
.div-cart p {
    margin-bottom: 0;
}
.div-cart span {
    width: 20px;
    height: 20px;
    background-color: #6a15e1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}