* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202324;
}

.div-productos {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  gap: 20px;
  padding: 4rem 0;
}